<%= form_for @post, html: {multipart: true} do |f| %>
	<p><%= f.label :title %></p>
	<p><%= f.text_field :title, placeholder: 'e.g. about your picture' %></p>

	<p><%= f.label :tag_list, 'Tags' %></p>
	<p><%= f.text_field :tag_list, placeholder: 'e.g. #exciting, #fun' %></p>

	<p><%= f.label :image, 'Image (required)' %></p>
	<p><%= f.file_field :image %></p>
	
	<%= f.submit %>
<% end %>