<p><% if post.image.present? %>
      <%= image_tag post.image.url(:medium) %></p>
<% end %>

<h2><%= post.title %></h2>
<p><%= time_ago_in_words(post.created_at) %> ago</p>

<% post.tags.each do |tag| %>
  <%= link_to tag.text, tag %>
<% end %>

<%= link_to "Edit", 
    edit_post_path(post) %>
<%= link_to "Delete", 
    post_path(post),
    method: :delete %>
